.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.wrapper span {
    display: block;
    margin-bottom: 20px;
    color: #D2333E;
}

.wrapper button {
    padding: 10px;
    background: none;
    border: 2px solid #D2333E;
    border-radius: 5px;
    color: #D2333E;
    transition: .4s;
    cursor: pointer;
}

.wrapper button:hover {
    background-color: #D2333E;
    color: #fff;
}